<template>
    <div>
        <bootstrap-4-datatable :columns="columns" :data="rows" :filter="filter" :per-page="perPage"></bootstrap-4-datatable>
        <bootstrap-4-datatable-pager v-model="page" type="abbreviated"></bootstrap-4-datatable-pager>
    </div>
</template>
<script>
export default {
    data() {
        return {
            columns: [
                {
                    label: 'ID',
                    field: 'id'
                },
                {
                    label: 'Datetime',
                    field: 'created_at'
                },
                {
                    label: 'Number',
                    field: 'number'
                },
                {
                    label: 'Result',
                    field: 'result'
                },
                {
                    label: 'Occurrences',
                    field: 'occurrences'
                }
            ],
            rows: [],
            page: 1,
            filter:  '',
            perPage: 25,
        }
    },
    methods: {
        showBlogs: function () {
            axios.get('/logs').then(function (res) {
                this.rows = res.data;
                console.log(this.rows)
            }.bind(this));
        }
    },
    created: function () {
        this.showBlogs()
    }
}
</script>
